<!DOCTYPE html>
<html ng-app="triviaApp">

<head>

    <link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body ng-controller="triviaCtrl">

    <div class="container">
        <div class="row">
            <div class="col-md-4" id="left">
                <div class="left side info">
                    <div class="wrapper">
                        <h3>Info</h3>
                        <!-- <image ng-click="grabJson()" height="140px" width="140px" src="http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons/black-paint-splatter-icons-alphanumeric/069159-black-paint-splatter-icon-alphanumeric-question-mark3.png"><br> -->
                        <button class='omdb btn-primary' type='button' ng-click="grabJson()">Ask</button>
                        <br>
                        <span>User name</span><br>
                        <span>Category</span><br>
                        <span>Question #</span><br>
                        <div class="score">
                            <span>Score: {{ myScore }}</span>
                        </div>
                    </div>
                </div>
            </div>
            
                  <div class="col-md-8" id="right" ng-repeat="question in quests.data.results | limitTo:1">
           <div class="questions" ng-controller="triviaCtrl" >
               <h4>{{ question.question}} </h4>
               <form>
                 <fieldset id ="option">
                   <input type="radio" name ="selection">{{ question.correct_answer}}<br>
                   <input type="radio" name ="selection">{{ question.incorrect_answers[0] }}<br>
                   <input type="radio" name ="selection">{{ question.incorrect_answers[1] }}<br>
                   <input type="radio" name ="selection">{{question.incorrect_answers[2]}}<br>
                 </fieldset>
                </div>

                        <br>
                        <div class="submitAnswer">
                            <span>
                    <button class='omdb btn-primary' type='button' ng-click="answered()">Submit</button>
                  </span>
                        </div>


                    </form>
                </div>

            </div>
        </div>
    </div>
{{ myQuestion }}
    <script src="node_modules/angular/angular.min.js"></script>
    
    <script src="ng-app.js"></script>
    <script src="ng-service.js"></script>
    <script src="triviaCtrl.js"></script>
</body>

</html>
