body {

font-family: 'Roboto', serif;
font-weight: 100;
font-size: 28px;
}
.options {
  font-size: 20px;
}
.play {
  position: absolute;
  top: 50%;
  left: 43%;
  text-align: center;
}
.hero-image {
  width: 100%;
  max-width: 500px;
  display: block;
  padding-top: 300px;
  padding-left: 450px;
}
.hero {
  background: url(http://wallpaper-gallery.net/images/artistic-wallpaper/artistic-wallpaper-15.jpg) no-repeat center fixed;
  background-size: cover;
  height: 1000px;
}
.hero2 {
  background-color: #8cd8c1;
}
.btn-xlarge {
   padding: 28px 38px;
   font-size: 22px; //change this to your desired size
   line-height: normal;
   -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
           border-radius: 8px;
}

.centered {
  padding-top: 100px;
}
.thumbnail {
  border-radius: 50%;
  height: 150px;
  width: 150px;

}
.jump {
    height: 1500px;
}
.static {
  width: 880px;
}
.smallfont {

font-size: 20px;
}
.bigimg {
  margin: auto;
  display: block;
}
h1 {
  text-align: center;
}
